# for backwards compatibility
cate/media/**
cate/static/**
cate/custom_settings_overrides.py

db.sqlite3
*.mo
src/vendor/tinymce/**
**/__pycache__/**
media/**
static/**
data/**
venv*/**
.coverage
.env
uv.lock
