colorama ~= 0.4; sys_platform == "win32" # colorama
Django ~= 4.2 # django
django-admin-sortable2 ~= 2.1 # adminsortable2
easy-thumbnails ~= 2.8 # easy_thumbnails
django-cleanup ~= 8.0 # django_cleanup
minify-html~= 0.11 # minify_html
django-debug-toolbar ~= 4.2 # debug_toolbar
user-agents ~= 2.2 # user_agents
