{% load static %}<!DOCTYPE html>
<html lang="fr">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="{% static "favicon.ico" %}">
<meta name="og:icon" content="{% static "favicon.ico" %}">
<meta name="theme-color" content="#ffaa00">
<title>{% block title %}{% block page-title %}{{ SITE_NAME }}{% endblock %} — {{ SITE_NAME }}{% endblock %}</title>
{% block head %}
{% if request.path == "/" %}
<link rel="canonical" href="/accueil">
{% endif %}
{% endblock head %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static "global/global.css" %}">
<link rel="stylesheet" href="{% static "global/header.css" %}">
<link rel="stylesheet" href="{% static "global/nav.css" %}">
<link rel="stylesheet" href="{% static "global/messages.css" %}">
{% block app_css %}{% endblock %}
{% block css %}{% endblock %}

{% if not offline %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js" defer></script>
{% else %}
<script src="{% static "offline/jquery.min.js" %}"></script>
<script src="{% static "offline/sweetalert.min.js" %}"></script>
<script src="{% static "offline/moment.min.js" %}"></script>
<script src="{% static "offline/cdn.min.js" %}"></script>
{% endif %}
<script src="{% static "global/global.js" %}"></script>
{% block app_js %}{% endblock %}
{% block js %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">{% block body %}{% endblock %}</body>
</html>
