{% load static %}
{% load allauth account %}
<li class="socialaccount-login">
    {% element form form=form method="post" action=attrs.href tags="login" %}
        {% slot body %}
            {% csrf_token %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% static "account/"|add:attrs.name|lower|add:".svg" as image_url %}
                {% element img src=image_url alt=attrs.name %}
                {% endelement %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
</li>
