{% extends "cate/site_base.html" %}
{% load define %}
{% load join_last %}
{% load school_year %}

{% block page-title %}Articles{% endblock %}

{% block content %}
<style>
li {
	margin:10px 0;
}
</style>
<h1>Articles / Photos</h1>
{% comment %}
The hidden articles are already removed from the pages with views.py.
If there is a hidden article, it means the user is an admin.
{% endcomment %}
{% if articles %}
	{% define ""|school_year as current_school_year %}
	<ul>
	{% for article in articles %}
	{% ifchanged %}
	{% if article.date|school_year != current_school_year %}
	<li class="soustitre">
		Année {{ article.date|school_year }}
	</li>
	{% endif %}
	{% endifchanged %}
	<li>
		<a href="{% url app|add:":article" article.slug %}">
			{% define_addable as errors %}
			{% if not article.content %}
				{% define errors|add:"vide" as errors %}
			{% endif %}
			{% if article.hidden %}
				{% define errors|add:"caché" as errors %}
			{% endif %}
			{% if article.date > now.date %}
				{% define errors|add:"futur" as errors %}
			{% endif %}
			{% if errors %}
				<i>(<small>Article {{ errors|join_last }}</small> : {{ article.title }})</i>
			{% else %}
				{{ article.title }}
			{% endif %}
		</a>
	</li>
	{% endfor %}
	</ul>
{% else %}
	<p>Aucun article</p>
{% endif %}
{% endblock %}
