{% extends "cate/site_base.html" %}
{% load define %}
{% load format_date %}
{% load i18n %}
{% load static %}
{% load urls %}

{% block page-title %}Dates importantes{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "common/dates.css" %}">
{% endblock css %}

{% block js %}
{{ block.super }}
<script src="{% url "javascript-catalog" %}"></script>
<script>
var categories = [{% for category in categories %}{{ category.id }}{% if not forloop.last %},{% endif %}{% endfor %}];
var categoryNames = {
    {% for category in categories %}
        {{ category.id }}: "{{ category.title|escapejs }}",
    {% endfor %}
};
var categorySlugs = {
    {% for category in categories %}
        {{ category.id }}: "{{ category.slug|escapejs }}",
    {% endfor %}
};
</script>
<script src="{% static "common/add-to-calendar-button.js" %}"></script>
<script src="{% static "common/dates.js" %}"></script>
{% endblock js %}

{% block content %}
<h1>Dates importantes</h1>
<div class="dates">
    <div class="filters"></div>
    <add-to-calendar-button url="{% url "dates_ics" %}"></add-to-calendar-button>
    <a class="pdf-link" href="{% url "liste_dates" %}" target="_blank">Télécharger en PDF</a>
    <table cellspacing="0">
        <tr>
            <th>{% translate "date"|capfirst %}</th>
            <th>{% translate "time"|capfirst %}</th>
            <th>{% translate "name"|capfirst %}</th>
            <th>{% translate "place"|capfirst %}</th>
        </tr>
        {% for date in dates %}
            {% define_addable as classes %}
            {% if date.is_past %}
                {% define classes|add:"past" as classes %}
            {% endif %}
            {% if date.is_current %}
                {% define classes|add:"current" as classes %}
            {% endif %}
            {% if date.cancelled %}
                {% define classes|add:"cancelled" as classes %}
            {% endif %}
            <tr class="{{ classes|join:" " }}" data-ids="{% for category in date.categories.all %}{{ category.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                <td>
                    {{ date.start_date|format_date:date.end_date }}
                </td>
                <td>
                    {% if date.time_text %}
                        {{ date.time_text }}
                    {% else %}
                        {{ date.start_time|date:"G:i" }}
                        {% if date.end_time %} – {{ date.end_time|date:"G:i" }}{% endif %}
                    {% endif %}
                </td>
                <td>{{ date.name }}</td>
                <td>{{ date.place }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Aucune date pour le moment...</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
