{% extends "cate/site_base.html" %}

{% block page-title %}Documents téléchargeables{% endblock %}

{% block content %}
<h1>Documents téléchargeables</h1>
{% if docs %}
    {% for cat, docs in docs_ordered.items %}
        {% if cat %}<h2>{{ cat }}</h2>{% endif %}
        <ul>
            {% for doc in docs %}
                <li><a href="{% url "document" doc.pk %}" target="_blank">{{ doc.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>Aucun document téléchargeable</p>
{% endif %}
{% endblock %}
