<h1>Bienvenue sur le site du caté !</h1>

<p>Ce site vient juste d'être créé.</p>

<p>Actuellement, il n'y a pas de contenu disponible.</p>

<p>Nous travaillons à la mise en place de fonctionnalités et d'informations utiles pour vous.</p>

<p>En attendant, veuillez vous informer par d'autres moyens.</p>

<details>
    <summary>Je suis administrateur</summary>

    <ul>
        {% if user.is_anonymous %}
            <li><a href="{% url "account_signup" %}" target="_blank">Créez un compte</a>.</li>
            <li>Donnez-lui les droits administrateur.</li>
        {% elif not user.is_staff %}
            <li>Demandez à quelqu'un de vous donner les droits administrateur.</li>
        {% endif %}
        <li>
            {% if page.pk == None %}
                <a href="{% url "admin:common_page_add" %}" target="_blank">Créez une page</a>
                avec le titre "{{ page.title }}".
            {% else %}
                <a href="{% url "admin:common_page_change" page.pk %}" target="_blank">Modifiez la page d'accueil</a>.
            {% endif %}
        </li>
    </ul>
</details>
