{% extends "cate/site_base.html" %}

{% block page-title %}Inscription{% endblock %}

{% block js %}
<script>
$(function() {
	var f = document.subscription;
	var clickedOnSubmit = false;
	$(window).on("beforeunload", function(e) {
		if(clickedOnSubmit) return;
		var filled = false;
		$("input:not([type=checkbox], [type=radio][checked], [type=hidden])", f).each(function(i, e) {
			if(e.value) {
				filled = true;
				return false;
			}
		});
		if(filled)
			e.preventDefault();
	});
	$("input[type=submit]", f).on("click", function(e) {
		e.preventDefault();
		$("input[type=submit]", f).attr("disabled", "");
		clickedOnSubmit = true;
		f.submit();
	});
});
</script>
{% endblock js %}

{% block content %}
<h1><a href="{% url "inscription" %}"><span class="fleche fl-gauche"></span></a>{% block h1 %}Inscription{% endblock h1 %}</h1>
{% block before_form %}{% endblock before_form %}
<form name="subscription" method="post">
	{% csrf_token %}
	{{ form.as_fieldsets_with_numbers }}
	<input type="submit" value="Valider">
</form>
{% endblock %}
