{% load static %}<!DOCTYPE html>
<html lang="fr">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="{% get_static_prefix %}{{ app }}/favicon.ico">
<meta name="og:icon" content="{% get_static_prefix %}{{ app }}/favicon.ico">
<meta name="theme-color" content="#ffaa00">
<title>{% block title %}{% endblock %}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static "global/global.css" %}">
{% block app_css %}{% endblock %}
{% block css %}{% endblock %}

{% if not offline %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
{% else %}
<script src="{% static "offline/jquery.min.js" %}"></script>
<script src="{% static "offline/sweetalert.min.js" %}"></script>
<script src="{% static "offline/moment.min.js" %}"></script>
{% endif %}
<script src="{% static "global/global.js" %}"></script>
{% block app_js %}{% endblock %}
{% block js %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">{% block body %}{% endblock %}</body>
</html>
