{% extends "cate/site_base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&amp;display=swap">
<link rel="stylesheet" href="{% static "calendrier-avent-2023/style.css" %}">
<link rel="stylesheet" href="{% static "global/countdown.css" %}">
{% endblock css %}
{% block js %}
<script src="{% static "global/countdown.js" %}"></script>
<script src="{% static "calendrier-avent-2023/script.js" %}"></script>
{% endblock js %}

{% block body %}
<main>
{% block content %}{% endblock %}
</main>
{% endblock %}
