{% extends "cate/site_base.html" %}
{% load i18n %}
{% load nav %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block navbar %}
<nav>
    <label class="ouvrir-menu" for="menu-checkbox">Menu</label>
    <input type="checkbox" id="menu-checkbox" class="sr-only">
    <ul>
        <label class="nav__close" for="menu-checkbox"></label>
        {% trans "Return to the website" as return %}
        {% nav_link "accueil" return "arrow" %}

        {% if user.is_authenticated %}
        <li>
            <form method="post" action="{% url "account_logout" %}" class="logout-form">
                {% csrf_token %}
                <input type="submit" class="link" value="{% trans "Log out" %}">
            </form>
        </li>

        {% if user.is_staff %}
            {% trans "Administration" as admin %}
            {% nav_link "admin:index" admin %}
        {% endif %}

        {% trans "Account Connections" as connections %}
        {% nav_link "socialaccount_connections" connections %}

        {% trans "Change Email" as email %}
        {% nav_link "account_email" email %}

        {% trans "Change Password" as password %}
        {% nav_link "account_change_password" password %}

        {% trans "Two-Factor Authentication" as mfa %}
        {% nav_link "mfa_index" mfa %}

        {% trans "Sessions" as sessions %}
        {% nav_link "usersessions_list" sessions %}

        {% else %}
            {% trans "Log in" as login %}
            {% nav_link "account_login" login %}

            {% trans "Sign up" as signup %}
            {% nav_link "account_signup" signup %}
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block main-class %}form-center{% endblock main-class %}
