{% extends "cate/site_base.html" %}
{% load i18n %}
{% load nav %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block navbar %}
<nav>
    <label class="ouvrir-menu" for="menu-checkbox">Menu</label>
    <input type="checkbox" id="menu-checkbox" class="sr-only">
    <ul>
        <label class="fermer" for="menu-checkbox"></label>
        {% nav_link "accueil" "Return to the website" "arrow" %}

        {% if user.is_authenticated %}
        <li>
            <form method="post" action="{% url "account_logout" %}" class="logout-form">
                {% csrf_token %}
                <input type="submit" class="link" value="{% trans "Log out" %}">
            </form>
        </li>

        {% if user.is_staff %}
        {% nav_link "admin:index" "Administration" %}
        {% endif %}

        {% nav_link "socialaccount_connections" "Account Connections" %}
        {% nav_link "account_email" "Change Email" %}
        {% nav_link "account_change_password" "Change Password" %}
        {% nav_link "mfa_index" "Two-Factor Authentication" %}
        {% nav_link "usersessions_list" "Sessions" %}

        {% else %}
        {% nav_link "account_login" "Log in" %}
        {% nav_link "account_signup" "Sign up" %}
        {% endif %}
    </ul>
</nav>
{% endblock %}
