{% extends "admin/change_list.html" %}

{% block result_list %}
<ul>
    <li><a href="{% url cl.opts.app_label|add:":list" %}" target="_blank">Liste récapitulative des enfants</a></li>
    <li><a href="{% url cl.opts.app_label|add:":list" %}?classes=1" target="_blank">Liste récapitulative des enfants (par classe)</a></li>
    <li><a href="{% url cl.opts.app_label|add:":autorisation" %}?exemplaires=2" target="_blank">Modèle d'autorisation à imprimer</a></li>
</ul>
{{ block.super }}
{% endblock result_list %}
